{
    "model":{
        "pricing_date_c":"${pricingDate}",
        "dwp|create_task":false,
        "stage":"SIGNATURE RECEIVED",
        "id":"${rowId}",
        "accounts|id":"${recordId}",
		"valid_until_c":"${priceValidUntilDate}",
		"signature_received_date_c":"${signatureReceivedDate}",
        "recordTypeOfRecordId":"AOS_Quotes",
        "baseModule":"AOS_Quotes",
        "assigned_user_id":[
            {
                "key":"1",
                "label":"Administrator"
            }
        ]
    },
    "action":{
        "event":"CONFIRM"
    }
}