{
    "model":{
       "recordTypeOfRecordId":"Leads",
       "baseModule":"Leads",
       "company_name_c":"${accountName}",
       "current_primary_group_id":"a3059b3f-55c2-4b67-9c7b-57d270a74950",
       "current_user_id":"7a754274-bf70-b573-0946-5847d9c589bd",
       "changed_guarantee_amount_c":false,
       "record_type":"B2B",
       "current_dealer_id":"a3059b3f-55c2-4b67-9c7b-57d270a74950",
       "company_number_c":"${companyNumber}",
       "nace_code_c":[
          {
             "key":"01150",
             "label":"01150 - Teelt van tabak"
          }
       ],
       "dwp|total_usage_elec":0,
       "dwp|total_usage_gas":0,
       "accounts|aos_quotes|ca_status_c":"ACCEPTED",
       "accounts|aos_quotes|guarantee_amount_c":0,
       "lead_source":"Essent - manual entry",
       "status":"Qualified",
       "active_lead_c":true,
       "contactPerson":{
          "first_name":null,
          "last_name":null
       },
       "accounts|category":"Medium",
       "dwp|copy_address|lead_to_connection":true,
       "accounts|selection_invoice_date":"18",
       "id":null,
       "accounts|graydon_multiscore_c":"75",
       "accounts|status":"normal",
       "legal_form_c":"bvba",
       "accounts|aos_quotes|legal_representative_c":"sdmlf mlkjsdf",
       "addresses_leads":{
          "id":null,
          "address_type":"Lead address",
          "address_street":"${addressStreet}",
          "address_number":"${addressNumber}",
          "address_addition":null,
          "address_bus":null,
          "address_postalcode":"${addressPostalCode}",
          "address_city":"${addressCity}",
          "address_country":"BE",
          "road65_street_id":"36206",
          "address_region":"VLA"
       },
       "function_c":"ceo",
       "gender_c":"MALE",
       "leads_contact_details(contact_details_phone_type='Work phone';contact_details_type='Phone')|contact_details_value":null,
       "leads_contact_details(contact_details_phone_type='Work phone';contact_details_type='Phone')|id":null,
       "leads_contact_details(contact_details_phone_type='Mobile phone';contact_details_type='Phone')|contact_details_value":"+32 498 12 34 56",
       "leads_contact_details(contact_details_phone_type='Mobile phone';contact_details_type='Phone')|id":null,
       "leads_contact_details(contact_details_type='Email')|contact_details_value":"msldkfje@mlsdkj.com",
       "leads_contact_details(contact_details_type='Email')|id":null,
       "language_c":"nl_BE",
       "com_prefs(type='GENERAL')|channel":"POST",
       "com_prefs(type='SMS')|receive_sms":true,
       "com_prefs(type='COMMERCIAL')|channel":"NONE",
       "com_prefs(type='COMMERCIAL_EXTERNAL')|channel":"NONE",
       "com_prefs(type='LIFE_BY_ESSENT')|channel":"EMAIL",
       "accounts|aos_quotes|multi_ean":false,
       "accounts|aos_quotes|aos_products_quotes|contract_line_status_c":null,
       "accounts|aos_quotes|aos_products_quotes|product_type_c":"ELEC",
       "dwp|returnModule":"Accounts",
       "accounts|aos_quotes|aos_products_quotes|meter_type_c":"AMR",
       "accounts|aos_quotes|aos_products_quotes|meter_configuration_c":"DOUBLE",
       "accounts|aos_quotes|aos_products_quotes|reset_point_c":false,
       "accounts|aos_quotes|aos_products_quotes|addresses_aos_products_quotes":{
          "id":null,
          "address_type":"Delivery address",
          "address_street":"${addressStreet}",
          "address_number":"${addressNumber}",
          "address_addition":null,
          "address_bus":null,
          "address_postalcode":"${addressPostalCode}",
          "address_city":"${addressCity}",
          "address_country":"BE",
          "road65_street_id":"25708"
       },
       "accounts|aos_quotes|aos_products_quotes|ean_c":"${ean_c}",
       "accounts|aos_quotes|aos_products_quotes|meter_no_c":"032919206",
       "dwp|external_message_GUID_4":null,
       "dwp|external_message_GUID_1":null,
       "dwp|external_message_GUID_2":null,
       "dwp|external_message_GUID_3":null,
       "accounts|aos_quotes|aos_products_quotes|mm_preswitch_template_c":null,
       "accounts|aos_quotes|aos_products_quotes|meter_open_c":true,
       "accounts|aos_quotes|aos_products_quotes|move_in_c":true,
       "accounts|aos_quotes|aos_products_quotes|switchtype_c":"CUSTOMER_SWITCH_NOTIFICATION",
       "accounts|aos_quotes|aos_products_quotes|reading_date_c":null,
       "accounts|aos_quotes|aos_products_quotes|index_high_c":null,
       "accounts|aos_quotes|aos_products_quotes|index_low_c":null,
       "accounts|aos_quotes|aos_products_quotes|index_th_c":null,
       "accounts|aos_quotes|aos_products_quotes|index_exclnight_c":null,
       "dwp|mig_module_c":"START ACCESS",
       "dwp|mig_label_c":"Customer Switch",
       "accounts|aos_quotes|aos_products_quotes|mig_start_context_c":null,
       "test":false,
       "accounts|aos_quotes|aos_products_quotes|market_mock_c":true,
       "accounts|aos_quotes|aos_products_quotes|external_message_id":"DEFAULT",
       "dwp|market_mock_scenario_mig6":null,
       "accounts|aos_quotes|aos_products_quotes|mig_version":"4",
       "accounts|aos_quotes|aos_products_quotes|service_c":"PURE_OFFTAKE",
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|desync":false,
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|request_unlock":null,
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|takeover":false,
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|contestation":false,
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|related_transaction_id":null,
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|smart_meter":"N/A",
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|supplier_time_frame":"TH",
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|billing_frequency":"Yearly",
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|information_frequency":"N/A",
       "accounts|aos_quotes|aos_products_quotes|mig_connectionparameters|service_component_change":false,
       "accounts|aos_quotes|stage":"NEW",
       "dwp|show_possible_duration":true,
       "dwp|totalMargin_1":1,
       "dwp|year_counter":0,
       "accounts|aos_quotes|multiean_overall_price_c":true,
       "dwp|totalMargin_0":1,
       "accounts|opportunities|opportunity_status_c":"Prospecting",
       "accounts|aos_quotes|current_assigned_user_id":null,
       "dwp|totalMargin_2":1,
       "accounts|aos_quotes|pricing_group_c":"UP",
       "accounts|aos_quotes|aos_products_quotes|product_id":"e159dc21-2cfd-0eef-349e-566a970251b7",
       "accounts|aos_quotes|aos_products_quotes|exclusive_net_losses_c":false,
       "accounts|aos_quotes|aos_products_quotes|green_product_c":false,
       "accounts|aos_quotes|aos_products_quotes|hedged_prices_c":null,
       "accounts|aos_quotes|aos_products_quotes|up_gsc_and_wkc_c":false,
       "accounts|aos_quotes|aos_products_quotes|inclusive_transport_c":true,
       "accounts|aos_quotes|aos_products_quotes|up_start_date_c":"${upStartDate}",
       "accounts|aos_quotes|aos_products_quotes|up_end_date_c":"${upEndDate}",
       "accounts|aos_quotes|possible_duration_c":[
       ],
       "accounts|aos_quotes|pricing_date_c":"${pricingDate}",
       "accounts|aos_quotes|quote_type_c":"SALES",
       "accounts|aos_quotes|aos_products_quotes|usage_single_c":"",
       "accounts|aos_quotes|aos_products_quotes|usage_high_c":"30000",
       "accounts|aos_quotes|aos_products_quotes|usage_low_c":"5000",
       "accounts|aos_quotes|aos_products_quotes|usage_excl_night_c":null,
       "accounts|aos_quotes|aos_products_quotes|kwMax_c":"50",
       "accounts|aos_quotes|primary_group_id":[
          {
             "key":"a3059b3f-55c2-4b67-9c7b-57d270a74950",
             "label":"Business Desk"
          }
       ],
       "accounts|aos_quotes|assigned_user_id":[
          {
             "key":"7a754274-bf70-b573-0946-5847d9c589bd",
             "label":"Vaibhav Business desk"
          }
       ],
       "dwp|indexationParam":null,
       "dwp|floatingBasePrice":0,
       "accounts|aos_quotes|aos_products_quotes|quotecomponentline_aos_products_quotes_1quoteComponents":[
          [
             [
                {
                   "value":59.772,
                   "valueInclusiveVAT":59.772,
                   "key":null,
                   "disabled":true,
                   "label":"High",
                   "uom":"€/MWh",
                   "title":"24 months",
                   "timeFrame":"High",
                   "indexationParameter":null
                },
                {
                   "value":60.3048,
                   "valueInclusiveVAT":60.3048,
                   "key":null,
                   "disabled":true,
                   "label":"Low",
                   "uom":"€/MWh",
                   "title":"24 months",
                   "timeFrame":"Low",
                   "indexationParameter":null
                },
                {
                   "value":90,
                   "valueInclusiveVAT":90,
                   "key":null,
                   "disabled":true,
                   "label":"Fixed fee",
                   "uom":"€/Year",
                   "title":"24 months",
                   "timeFrame":"Fixed fee",
                   "indexationParameter":null
                },
                {
                   "value":null,
                   "valueInclusiveVAT":null,
                   "key":null,
                   "disabled":true,
                   "label":null,
                   "uom":null,
                   "title":null,
                   "timeFrame":null,
                   "indexationParameter":null
                }
             ]
          ]
       ],
       "accounts|aos_quotes|aos_products_quotes|delivery_address_postalcode":"2200",
       "dwp|copy_address|lead_to_billing":true,
       "accounts|aos_quotes|payment_details|com_prefs(type='LEGAL')|send_for_dom":false,
       "accounts|aos_quotes|payment_details|payment_methods|toggle_settlement":true,
       "accounts|aos_quotes|payment_details|payment_methods|toggle_advance":true,
       "accounts|aos_quotes|payment_details|addresses":{
          "id":null,
          "address_type":"Billing address",
          "address_street":"${addressStreet}",
          "address_number":"${addressNumber}",
          "address_addition":null,
          "address_bus":null,
          "address_postalcode":"${addressPostalCode}",
          "address_city":"${addressCity}",
          "address_country":"BE"
       },
       "accounts|aos_quotes|payment_details|com_prefs(type='LEGAL')|channel":"POST",
       "accounts|aos_quotes|payment_details|com_prefs(type='MANDATE')|channel":"EMAIL",
       "accounts|aos_quotes|payment_details|paymentterms":"14",
       "accounts|aos_quotes|payment_details|payment_methods|payment_method":"${paymentMethod}",
       "accounts|aos_quotes|payment_details|bankaccounts|iban":"${generatedIban}",
       "accounts|aos_quotes|payment_details|bankaccounts|swiftbic":null,
       "accounts|aos_quotes|do_auto_communication_c":null,
       "accounts|aos_quotes|remark_c":null,
       "dwp|alreadyContracted":false,
       "dwp|alreadyContractedForDifferentClient":false,
       "dwp|guidanceFlowId":"CUPQ",
       "dwp|com_prefs(type='GENERAL')|channel|matchedCondition":"default",
       "first_name":"2M6vMEtEA",
       "last_name":"NNlREoNif",
       "dwp|accounts|aos_quotes|aos_products_quotes|meter_type_c|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|product_type_c'] === 'ELEC'",
       "dwp|accounts|aos_quotes|aos_products_quotes|meter_configuration_c|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|product_type_c'] === 'ELEC' && model['accounts|aos_quotes|aos_products_quotes|meter_type_c'] !== 'AMR'",
       "dwp|dwp|external_message_GUID_4|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|mig_version'] === '4' || model['accounts|aos_quotes|aos_products_quotes|market_mock_c'] === false ",
       "dwp|dwp|external_message_GUID_1|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|mig_version'] === '4' || model['accounts|aos_quotes|aos_products_quotes|market_mock_c'] === false ",
       "dwp|dwp|external_message_GUID_2|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|mig_version'] === '4' || model['accounts|aos_quotes|aos_products_quotes|market_mock_c'] === false ",
       "dwp|dwp|external_message_GUID_3|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|mig_version'] === '4' || model['accounts|aos_quotes|aos_products_quotes|market_mock_c'] === false ",
       "dwp|accounts|aos_quotes|aos_products_quotes|mig_start_context_c|matchedCondition":"model['accounts|aos_quotes|aos_products_quotes|mig_version'] === '4' && model['dwp|mig_label_c'] == 'Supplier Switch'",
       "dwp|accounts|aos_quotes|aos_products_quotes|external_message_id|matchedCondition":"model['dwp|mig_module_c'] === 'START ACCESS' && model['dwp|mig_label_c'] === 'Supplier Switch'",
       "dwp|show_netlosses":false,
       "dwp|show_netgreen":false,
       "dwp|show_up_gsc_and_wkc":false,
       "dwp|show_inclusive_transport":false,
       "dwp|hedged_prices":false,
       "accounts|aos_quotes|aos_products_quotes|aos_products|id":"e159dc21-2cfd-0eef-349e-566a970251b7",
       "accounts|aos_quotes|aos_products_quotes|aos_products|name":"Electricity Fix UP",
       "accounts|aos_quotes|aos_products_quotes|aos_products|product_direction":"CONSUMPTION",
       "dwp|accounts|aos_quotes|payment_details|com_prefs(type='LEGAL')|channel|matchedCondition":"default",
       "dwp|accounts|aos_quotes|payment_details|com_prefs(type='MANDATE')|channel|matchedCondition":"default",
       "dwp|accounts|aos_quotes|payment_details|paymentterms|matchedCondition":"model['current_dealer_id'] === 'a3059b3f-55c2-4b67-9c7b-57d270a74950'"
    },
    "action":{
       "event":"CONFIRM",
       "currentStep":"CUPQ04"
    },
    "route":{
       "linkTo":"guidance-mode",
       "params":{
          "flowId":"CUPQ",
          "recordId":null
       }
    }
 }