package com.essent.testing.dwp.menu.model.generated;
import com.essent.testing.dwp.menu.model.TopMenu; 
import com.essent.testing.dwp.menu.model.impl.TopMenuImpl;  
/**
 * Generated Java Enum
 * @author Dmitry Chebayewski <dmitry.chebayewski@billinghouse.nl>
 *
 */
public enum ${enumName}{
${items} 
private String label; 
private String link; 
private ${enumName}(String label, String dashboardLink) 
 { 
  this.label = label; 
  this.link = dashboardLink;
 } 
 public String getLabel() { return label; } 
 public String getLink() { return link; }
 public static TopMenu getTopMenu() {
    TopMenu menu = new TopMenuImpl();
    for(${enumName} upperMenu: ${enumName}.values()) {
      menu.item(upperMenu.name(), new TopMenu.Item(upperMenu.getLabel(), upperMenu.getLink()));
    }
    return menu;
   }
}